.configuration-form {
  max-width: 600px; /* Limit the width for a centered form */
  margin: 30px auto; /* Center the form */
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9; /* Light gray background */
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */

}

.configuration-form h1 {

  text-align: center;
  color: #4772b3;
  font-size: 28px;
  margin-bottom: 20px;

}

.configuration-form p {
  text-align: center;
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.error-message {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}

.submit-button {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  background-color: #26e3ea;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-button:hover:not(:disabled) {
  background-color: #4e9aec;
}
